@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(/public/fonts/Comfortaa-Regular.ttf) format('truetype');
}

#root {
    font-family: 'Comfortaa';
}