@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    font-family: Comfortaa, serif;
    background-color: #EFEEF5;
}

.bg-main {
    background-color: #EFEEF5;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(public/fonts/Comfortaa-Regular.ttf) format('truetype');
}